{
  "root": true,
  "globals": {
    "L": true,
    "expect": false,
    "sinon": false,
    "happen": false,
    "Hand": false,
    "takeScreenshot": true
  },
  "rules": {
    "import/extensions": 0,
    "no-param-reassign": "off",
    "no-underscore-dangle": 0,
    "prefer-const": 0,
    "no-restricted-syntax": "off",
    "no-plusplus": "off",
    "no-unused-vars": 0,
    "quotes": 0,
    "no-shadow": 0,
    "no-irregular-whitespace": 0,
    "no-console": 0,
    "no-extend-native": 0,
    "no-mixed-spaces-and-tabs": [
      2,
      "smart-tabs"
    ],
    "indent": [
      2
    ],
    "curly": 2,
    "spaced-comment": 2,
    "strict": 0,
    "wrap-iife": 0,
    "key-spacing": 0,
    "consistent-return": 0
  },
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true,
    "amd": true,
    "node": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}

